@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserra:wght@500t&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html, body, p, span, li, a {
    font-family: 'Work Sans', 'Noto Sans', Garamond, sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

.paris {
    font-family: 'Parisienne', sans-serif;
    font-style: italic;
}
